.HomePageContainer {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .SessionImage {
    margin-top: -10px;
    height: 400px;
    width: 600px;
    transform: perspective(900px) rotateY(-20deg);
  }

.CreateBoardTextField {
    width: 70%;
    padding-bottom: 30px;
  }
  
  .CreateBoardButton {
    /* color: var(--color-background); */
    width: 70%;
    border-radius: 40px;
  }
  
  .CreateBoardCard {
    background: transparent;
    border: none !important;
  }
  
  .CreateBoardCardHeader {
    text-align: center;
  }
  
  .CreateBoardCardContent {
    text-align: center;
  }
  
  .CreateBoardCardAction {
    justify-content: center;
  }
  

